/* https://partnermarketinghub.withgoogle.com/brands/google-assistant/overview/color-palette-and-typography/ */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

header {
  background: #9AA0A6;
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  /* height: 5vh; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: fixed;
  right: 10px;
}

.menu.show {
  display: flex; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width:100vw;
  height:100vh;
}

.two img {
  max-height: 35vh;
}

.three img {
  max-height: 30vh;
  opacity: 80%;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.one {
  background-color: rgba(251, 188, 4, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.one h2 {
  font-size: 3.5rem;
  
} 

.one p {
  font-size: 1.5rem;
  
}



.two {
  background-color: rgba(66, 133, 244, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.three {
  background-color:  rgba(234, 67, 53, 0.5);
  color:#FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four {
  background-color: rgba(52, 168, 83, 0.5);
  color:#FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three h2 {
  position: absolute;
  font-size: 3rem;
  z-index: 10;
}

@keyframes rotateLeftRight {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.rotating {
  animation: rotateLeftRight 4s ease-in-out infinite;
}

@media (min-width: 1024px) {
  /* body {
    background-color: lightblue;
  } */
  .container {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* body {
    background-color: lightgreen;
  } */
  .container {
    width: 90%;
  }
}

@media (max-width: 767px) {
  /* body {
    background-color: lightcoral;
  } */
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.menu li {
    margin-top: 10px;
}

.menu.show {
  display: flex; 
}

.hamburger {
    display: block;
}
}